<div class="container">
	<div class="page-header">
	  <h1>Sign up</h1>
	</div>
	<% if flash[:errors] %>
        <div class="alert alert-danger" style="margin-top:2%">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <strong>Error!</strong> <%= flash[:errors] %>
        </div>
    <% end %>
	<%= render 'form' %>
</div>
